@model IEnumerable<BookStore.Model.Boken>

@{
    ViewBag.Title = "hentAlleBoker";
}
<h3>
    @Html.ActionLink("Se alle sjangere", "hentSjangere") |
    @Html.ActionLink("Se alle forfattere", "hentForfattere")
</h3>

<h2>Alle bøker:</h2>

<p>
    @Html.ActionLink("Legg til en ny bok", "registrerBok")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tittel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sjanger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfatter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tittel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sjanger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forfatter)
        </td>
        <td>
            @Html.ActionLink("Endre", "EndreBok", new { id=item.ISBN }) |
            @Html.ActionLink("Slett", "slettBok", new { id=item.ISBN })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Tilbake", "Index")
</p>
