@model List<BookStore.Model.Kunde>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
</head>
<body>
    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].fornavn)
                <!-- NB: dette er endret fra generert kode da den forventer en IEnumerable som modell -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].etternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].postnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].poststed)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fornavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.etternavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postnr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.poststed)
                </td>
            </tr>
        }

    </table></body>
</html>
