@model List<BookStore.Model.dbKunde>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
</head>
<body>
    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Fornavn)
                <!-- NB: dette er endret fra generert kode da den forventer en IEnumerable som modell -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Etternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Adresse)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etternavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
        
            </tr>
        }

    </table>
</body>
</html>
