@model BookStore.Model.Kunde

@{
    ViewBag.Title = "Slett";
}

    <br /><br />
    <h3>Er du sikker på at du vil slette denne kunden?</h3>
    <br/><br/>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fornavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fornavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.etternavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.etternavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adresse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.postnr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.postnr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.poststed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.poststed)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Slett" /> <br/>
                @Html.ActionLink("Tilbake", "Liste")
            </div>
        }
    </div>
