@model BookStore.Model.Forfatteren

@{
    ViewBag.Title = "SlettForfatter";
}

<h2>Er du sikker på at du vil slette forfatteren og alle dens bøker?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForfatterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForfatterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            <input type="submit" value="Slett" class="btn btn-warning" />
            @Html.ActionLink("Tilbake", "hentForfattere", new { tom = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
}
